{# The target="_top" value opens the page in the top frame which always is the full browser tab/window. #}
<turbo-frame id="cart-sidebar" target="_top">
    <div class="component-light product-show p-3 mb-5">
        <h5 class="text-center">Featured Product!</h5>
        <a href="{{ path('app_product', { id: featuredProduct.id }) }}">
            <img
                alt="{{ featuredProduct.name }}"
                src="{{ asset('/uploads/products/'~featuredProduct.imageFilename) }}"
                class="d-block"
            >
        </a>
        <div class="pt-3">
            <h6 class="d-flex justify-content-between mb-3">
                <strong>{{ featuredProduct.name }}</strong>

                {{ featuredProduct.priceString|format_currency('USD') }}
            </h6>

            {% if showFullDescription %}
                {{ featuredProduct.description }}
            {% else %}
                {{ featuredProduct.description | u.truncate(25) | trim }}...

                <a
                    class="frame-loading-hide"
                    data-turbo-frame="cart-sidebar"
                    href="{{ path('_app_cart_product_featured', {
                        show_description : true
                    }) }}">(read more)</a>
                <span class="frame-loading-show fas fa-spinner fa-spin"></span>
            {% endif %}

            {{ include('product/_cart_add_controls.html.twig') }}
        </div>
    </div>
</turbo-frame>